{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "doubleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "quoteProps": "preserve"
}
